body {
    display: flex;
    justify-content: center; /* Horizontal zentrieren */
    align-items: center;    /* Vertikal zentrieren */
    min-height: 100vh;      /* Höhe des Viewports */
    margin: 0;              /* Kein zusätzlicher Abstand */
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}

h1 {
    color: blue;
}

p {
    font-size: 10px;
    color: cornflowerblue;
    transition: ease-in 1s;
}

button {
    border-radius: 10%;
    color: blueviolet;
}